<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Client/Script/vendor/angular/angular.min.js"></script>
<script src="~/Client/Script/vendor/angular/angular-route.min.js"></script>
<script src="~/Client/Script/app/app.js"></script>
<script src="~/Client/Script/app/controller/ac-get-stringTest/getStringTest.js"></script>
<script src="~/Client/Script/app/services/services-getStrringTest.js"></script>


<div ng-controller="GetString">
    <h1></h1>
</div>